.body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: black;
    justify-content: center;
    align-items: flex-start;
    display: flex;

    .quizContainer {
        width: 500px;
        background-color: aliceblue;
        border-radius: 4px;
        margin-top: 100px;
        padding: 30px 60px;
        box-sizing: border-box;

        .active_questions_no {
            font-size: 32px;
            font-weight: 500;
            color: #6dc46d
        }

        .total_questions {
            font-size: 16px;
            font-weight: 500;
            color: grey
        }

        h2 {
            font-size: 32px;
            font-weight: 500;
            margin: 0;
        }
    }

}